@import url(https://db.onlinewebfonts.com/c/51b04fd198be8867df5092074251bb22?family=Apple+Garamond+Book);
@import url("https://use.typekit.net/pgx5bqy.css");
@import url("https://use.typekit.net/pgx5bqy.css");

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}


h2 {
    --font-family: 'Apple Garamond', serif;
    --font-size: 45pt;
  }

body {
    font-family: Helvetica, sans-serif;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0;
    padding: 0;
    background: linear-gradient(270deg, #f3dfbe, #bed6f3, #dbbef3, #e5eff2, #adcff2);
    background-size: 1000% 1000%;
    animation: background 30s ease infinite;
}

body:has(input[value="Helvetica"]:checked) {

    font-family: Helvetica, sans-serif;

    #font-helvetica{
        background-color:rgb(225, 225, 225);
    }

    .card {
        background-color: #add0f200;
    }

    img {
        border-radius: 25px; 
    }

    #container {
        filter: blur(10px) saturate(80%);
        width: 700px;
        height: 500px;
        border-radius: 25px; 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        background-color: rgb(225, 225, 225);
        text-align: center;
        display: flex;
        flex-direction: column; 
        justify-content: center; 
        align-items: center; 
        position: absolute;
        top: 0;
        z-index: -1;
    }

    #idText {
       margin-left: 15vw;
    }

    #idText p {
        color: white;
        line-height: 10pt;
    }


    #userData {
        display: flex;
        flex-wrap:nowrap;
    }
    
    #userData p {
        margin: 5px 10px;
        font-size: 15pt;
        white-space: nowrap; 
    }


    

    
  }

  body:has(input[value="LoRes-12"]:checked) {
    font-family: "lores-12", sans-serif;

 
    .card {
        background-color: rgb(0, 255, 76);
        filter: brightness(200%);
        filter: contrast(200%);
    }
    .name {
        display: none;
    }

    #idText p{
        text-transform: uppercase;
        letter-spacing: 0;
    }

    #font-lores{
        background-color:rgb(225, 225, 225);
    }

    h2 {
        color: black;
        font-size: 45pt;
    }
 
  }
  body:has(input[value="Apple Garamond"]:checked) {
    
    font-family: 'Apple Garamond', serif;
    
        #idText p{
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
         align-items: center; 
         color: red;
         font-size: 20pt;
         line-height: 20pt;
         -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
        }

    .card {

        background-color: rgba(0, 0, 0, 0);
        color: white;
        font-size: 80pt;

       


        .info {
            font-size: 70pt;
        }

        .title {
            padding-left: 2vw;
        }

        h2 {
            font-size: 60pt;
            color: red;
        }

        span {
            font-size: 100pt;
            color: red;
        }

        img {
            border-radius: 25px; 
        }
        #container {
            filter: grayscale(100%);
            width: 700px;
            height: 500px;
            border-radius: 25px; 
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            background-color: rgb(225, 225, 225);
            text-align: center;
            display: flex;
            flex-direction: column; 
            justify-content: center; 
            align-items: center; 
            position: absolute;
            top: 0;
            z-index: -1;
        }
    }

    #font-garamond{
        background-color:rgb(225, 225, 225);
    }

  }
  body:has(input[value="Comic Sans"]:checked) {

    h2{
    font-size: 45pt;
    }

    font-family: "Comic Sans MS", cursive, sans-serif;

    .card {
        background: linear-gradient( 89.7deg, rgba(223,0,0,1) 2.7%, rgba(214,91,0,1) 15.1%, rgba(233,245,0,1) 29.5%, rgba(23,255,17,1) 45.8%, rgba(29,255,255,1) 61.5%, rgba(5,17,255,1) 76.4%, rgba(202,0,253,1) 92.4% );
    }

    #font-comic-sans{
        background-color:rgb(225, 225, 225);
    }

    #container {
        filter: saturate(200%);
    }

    #idText p {
        font-size: 14pt;
    }
}




@keyframes background {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

h1 {
    font-family: 'Apple Garamond', serif;
    letter-spacing: -1px;
    font-weight: 400;
    font-size: 30pt;
}


.card{
    width: 700px;
    height: 500px;
    border-radius: 25px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    background-color: rgb(225, 225, 225);
    text-align: center;
    display: flex; /* Make it a flex container */
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
}


#nameInput, #bdayInput, #locationInput, #jobInput, #petsInput {
    background: transparent;
    border: 1px solid black;
    font-family: var(--font-family);
    letter-spacing: -1px;
    font-weight: 400;
    font-size: 20pt;
}

#nameInput::placeholder, #locationInput::placeholder, #jobInput::placeholder, #petsInput::placeholder {
    color: gray;
    font-style: italic;
}

button, label {
    font-family: Helvetica, sans-serif;
    letter-spacing: -1px;
    font-weight: 400;
    font-size: 20pt;
    background: rgb(255, 255, 183);
    border: 1px solid black;
    border-radius: 50px;
    padding: 5px 20px;
    max-width: 100%; 
    cursor:pointer;
}

.styles {
    position: relative;
    top: -14vh;
}


input[type="radio"] {
    display: none; 
  }


/* button:hover {
    font-family: 'Apple Garamond', serif;
    font-style: italic;
} */

#player {
    width: 100%; 
    height: auto;
    /* align-items: center; */
}

#capture {
    margin-top: 20px; 
}

#canvas {
    display: none; 
}



.card {
    font-family: var(--font-family);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#idCard {
    font-family: var(--font-family);
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: auto;
    justify-items: center;
    padding: 20px; 
}

#idCard p {
    margin: 5px 0; 
    font-size: 15pt;
}



#container{
    background-color: black;
    width: 70%;
    height: 300px;
}

#container img {
    justify-self: center;
}

#idText {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-self: start;
}

#info{
    margin-top: 4vh;
    text-align: left;
}

h2 {
    /* font-family: Apple Garamond, sans-serif; */
    font-family: var(--font-family);
    /* font-style: bold; */
    font-weight: 300;
    font-size: 50px;
    margin: 0;
    color: rgb(255, 255, 183);
    -webkit-text-stroke-width: 0.7px;
    -webkit-text-stroke-color: black;
    line-height: 50px;
    text-align: left;
    letter-spacing: -2pt;

}

/* h3 {
    font-family: Apple Garamond, sans-serif;
    font-style: bold;
    font-weight: 300;
    font-size: 60px;
    margin: 0;
    color: rgb(255, 255, 183);
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
    line-height: 60px;
    text-align: left;
} */

p {
   font-family: var(--font-family);
    font-weight: 400;
    letter-spacing: -1pt;
}

span {
    font-family: "sweet-fancy-script", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 120px;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
}

.name {
    text-align: end;
}

.specific{
    position: relative;
    top: -15vh;
    right: 3vh;
}

.home{
    position: relative;
    top: -15vh;
    left: 3vh;
}

.buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;

}

